<!doctype html>
<html lang="en" ng-app>

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<script>
		function PresController($scope) {
			$scope.world = 'world';
			$scope.items = ['chocolate', 'lemonade', 'sincerity'];
			$scope.itemObjects = [
				{ name: 'lemonade',  tastiness: 90 },
				{ name: 'sincerity', tastiness: -77 },
				{ name: 'chocolate', tastiness: 3000 },
			];
			$scope.greet = function(world) {
				alert('Hello, ' + world);
			};
		}
		</script>
	</head>

	<body ng-controller='PresController'>

		<div class="reveal">
			<div class="slides">
<section>
	<h1>AngularJS</h1>
    <h3>An MVC framework
    	<p class="fragment">(probably for hipsters)</p>
    </h3>
</section>

<!-- <section>
	<h2>Exposure to angular.js is:</h2>
	<ul>
		<li>safe for kids</li>
		<li>part of a healthy diet</li>
		<li>recommended for web apps which are:
			<ul>
				<li>easy to build</li>
				<li>maintainable</li>
				<li>testable</li>
			</ul>
		</li>
	</ul>
</section> -->

<!-- <section>
	<h2>What is AngularJS?</h2>
	<ul>
		<li>An MVC framework</li>
		<li>A templating framework</li>
		<li>An AJAX framework</li>
	</ul>
</section> -->

<section>
	<h2>The ingredients of a web app</h2>
	<ul>
		<p>
		<li>The model <em>(the data your app works on)</em>
			<ul>
				<li>A database</li>
				<li>An API</li>
			</ul>
		</li>
		</p>
		<p>
		<li>The view <em>(what the browser shows the user)</em>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
			</ul>
		</li>
		</p>
		<p>
		<li>The controller <em>(the model/view glue)</em>
			<ul>
				<li>A Django app (on the server)</li>
				<li>An AngularJS app (on the client)</li>
			</ul>
		</li>
		</p>
	</ul>
</section>

<section>
	<h2>Hello, {{world}}</h2>
	<p>
		<input type="text" ng-model="world"></input>
	</p>
<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
<html ng-app>
<body ng-controller='HelloController'>
	Hello, {{ world }}
	<input type="text" ng-model="world"></input>
</body>
</html>
```
Back:
```
function HelloController($scope) {
	$scope.world = 'world';
}
```
</script>
</p>
</section>

<section>
	<h2>Repetition with <strong>ngRepeat</strong></h2>
	<ul>
		<li ng-repeat='item in items'>
			{{item}}
		</li>
	</ul>

	<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
	<ul>
		<li ng-repeat='item in items'>
			{{item}}
		</li>
	</ul>
```
Back:
```
function HelloController($scope) {
	$scope.items = ['chocolate', 'lemonade', 'sincerity'];
}
```
</script>
</p>
</section>

<section>
	<h2>Repetition with <strong>ngRepeat</strong></h2>
	<ul>
		<li ng-repeat='item in itemObjects'>
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>

	<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
	<ul>
		<li ng-repeat='item in itemObjects'>
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>
```
Back:
```
function HelloController($scope) {
	$scope.itemObjects = [
		{ name: 'lemonade',  tastiness: 90 },
		{ name: 'sincerity', tastiness: -77 },
		{ name: 'chocolate', tastiness: 3000 },
	];
}
```
</script>
</p>
</section>

<section>
	<h2>Repetition with <strong>ngRepeat</strong></h2>
	<ul>
		<li ng-repeat='item in itemObjects | orderBy:"-tastiness"'>
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>

	<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
	<ul>
		<li ng-repeat='item in itemObjects | orderBy:-tastiness'>
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>
```
</script>
</p>
</section>

<section>
	<h2>Repetition with <strong>ngRepeat</strong></h2>
	<ul>
		<li ng-repeat='item in itemObjects | orderBy:"-tastiness"' ng-hide="item.tastiness < 0">
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>

	<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
	<ul>
		<li ng-repeat='item in itemObjects | orderBy:"-tastiness"' 
		 ng-hide="item.tastiness < 0">
			{{item.name}} has a tastiness level of {{item.tastiness}}.
		</li>
	</ul>
```
</script>
</p>
</section>

<section>
	<h2>Binding actions</h2>
		<input ng-model="world" type="text"></input>
		<button ng-click="greet(world)">Hello!</button>

	<p data-markdown class='fragment'>
<script type="text/template">
Front:
```
<input ng-model="world" type="text"></input>
<button ng-click="greet(world)">Hello!</button>
```
Back:
```
$scope.greet = function(world) {
	alert('Hello, ' + world);
};
```
</script>
</p>
</section>

<section>
	<h2>What is a scope?</h2>
	<!-- ngRepeat creates a scope -->
</section>

<section>
	<h2>Dependency injection</h2>
</section>

<section>
	<h2>Ajax</h2>
</section>

<section>
	<h2>Promises</h2>
</section>

<section>
	<h2>How do I make state change?</h2>
</section>

<section>
	<h2>How it works</h2>
</section>

<section>
	<h2>What it works with</h2>
</section>

<section>
	<h2>Using AngularJS with other frameworks</h2>
	<!-- $scope.$apply -->
</section>

			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
